* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    padding: 120px 0;
}

.main .title h2 {
    font-size: 40px;
    font-weight: 700;
}

.main .title p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
}

.main .inner {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}